.buttonPinkLarge {
  width: 320px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buttonPinkLarge:hover {
  background-color: var(--color-primary-2);
}
