.expenses {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 87px;
  background-color: var(--grey-1);
  border-radius: 3px;
}

.div__red {
  background: #cf0404;
  border-radius: 4px 0px 0px 4px;
  width: 4px;
  height: 100%;
}

.div__data__out {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 14px;
}

.div__data__out > div {
  display: flex;
  height: 39px;
}

.div__data__out > p {
  color: var(--grey-3);
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.div__data__out > div > h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-4);
  margin: 7px 0;
  width: 220px;
}

@media (min-width: 1100px) {
  .div__data__out > div > h2 {
    width: 400px;
  }

  .div__data__out > div > div {
    display: flex;
    align-items: center;
  }

  .div__data__out > div > div > p {
    width: 117px;
  }

  .div__data__out > div > div > img {
    cursor: pointer;
    height: 10px;
    width: 9px;
  }
}
