.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.summary > h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-4);
}

.summary__btns {
  display: flex;
  gap: 15px;
}

.summary__btns > button {
  width: 64px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 0 10.5px;
}

@media (min-width: 1100px) {
  .summary {
    flex-direction: row;
    width: 560px;
  }
}
